<web-app>  

<servlet>  

<servlet-name>thamizh</servlet-name>  
<jsp-file>/first_1.jsp</jsp-file>  

<init-param> 
<param-name>dname</param-name>  
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
</init-param>

</servlet>  
  
<servlet-mapping>  
<servlet-name>thamizh</servlet-name>  
<url-pattern>/first_1</url-pattern>  
</servlet-mapping>  
  
</web-app>